/*********
FONTS
*********/

@font-face {
    font-family: 'LeagueGothic';
    src: url('../fonts/League_Gothic-webfont.eot');
    src: url('../fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/League_Gothic-webfont.woff') format('woff'),
         url('../fonts/League_Gothic-webfont.ttf') format('truetype'),
         url('../fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BureauGrotesque';
    src: url('../fonts/bureaugrotesquethreethree-webfont.eot');
    src: url('../fonts/bureaugrotesquethreethree-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bureaugrotesquethreethree-webfont.woff') format('woff'),
         url('../fonts/bureaugrotesquethreethree-webfont.ttf') format('truetype'),
         url('../fonts/bureaugrotesquethreethree-webfont.svg#BureauGrotesqueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*********
ANIMATIONS
*********/

/*********
STYLES
*********/

body {
  padding-top: 40px; /* container nie nachodzi na nawigację */
  background: url('../img/strony.gif') top center no-repeat,
			  url('../img/acozemna_bg.gif') bottom center repeat-x,
			  url('../img/bg_kratka.gif');
}

#nav_container {
	background: url('../img/nav_bg.gif');
}

.navbar {
	-webkit-box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.3);
}

.brand {
	font-family: BureauGrotesque, Helvetica, sans-serif;
	font-weight: normal;
	padding-left: 10px;
}

#przedstawia {
	font-size:17px;
}

#facebook {
	margin-top:10px;
}

#main_container {
	border-left: 2px dashed;
	border-right: 2px dashed;
	border-color: rgba(0,0,0,0.5);
}

#title {
	padding-top:20px;
	padding-bottom:70px;
	font-family: LeagueGothic, Helvetica, sans-serif;
}

#title h1 {
	font-size: 64px;
	font-weight: normal;
	line-height: 1em;
}

#title h2 {
	font-size: 40px;
	font-weight: normal;
	line-height: 1em;
	color: #666;
}

#ocowtymchodzi {
	margin-top:150px;
	font-size: 10px;
	color:#FFF;
	background-image:none;
	background-color:#000;
}

#zobaczinneosoby {
	margin-top: 80px;
	margin-left: 12px;
	width:100px;
	height:50px;
	padding:9px;
	padding-top:16px;
	font-family: 'Loved by the King', cursive;
	font-size:22px;
	background-image:none;
	background-image:url('../img/zobaczinneosoby_bg.gif');
	background-color:rgba(255,255,255,0.1);
	border:none;
	-webkit-transform: rotate(-15deg);
}

.dropdown-menu {
	width: 100px;
}

.dropdown-menu li {
	font-family: 'Loved by the King', cursive;
	text-align: center;
	font-size:18px;
}

#zobaczinneosoby:hover {
	text-shadow: rgba(0,0,0,0.6) 1px 0px 20px;
	background-position: 0 0px;
}

#zobaczinneosoby:focus {
	border-color:#09C;
}

#ostatnie {
	font-size: 18px;
	padding: 10px;
	padding-left: 15px;
	border: 1px dashed;
	border-right: none;
}

.imie {
	color: #3FBCDE;
}

#lista {
	border: none;
	border-right: none;
	width:540px;
	height:400px;
	margin-top: -10px;
	margin-bottom: 50px;
	overflow: auto;
	-webkit-box-shadow: inset 1px 1px 30px 1px rgba(0, 0, 0, 0.4);	
	background: url('../img/lista_bg.gif');
	
}

#lista p {
	padding: 20px;
	padding-bottom: 0px;
}

#containtersylwetka {
	background: url('../img/sylwetka_janek.gif') no-repeat;
	min-height:350px;
}

#containtersylwetka h1 {
	color: #3FBCDE;
	margin-left: 180px;
	margin-top: 100px;
	text-align: center;
	font-weight: normal;
	font-size: 40px;
	text-shadow: 1px -1px 1px #dbdbdb;
	filter: dropshadow(color=#dbdbdb, offx=1, offy=-1);
	line-height: 1.4em;
}

#containtersylwetka p {
	color: #333;
	font-size: 24px;
	text-align: center;
	font-weight: normal;
}

#containtersylwetka p:first-of-type {
	margin-left: 180px;
	margin-bottom: 100px;
}

.progress {
	margin: 20px;
}

#acozemna h1 {
	text-align: center;
	font-size: 32px;
	color: #FFF;
	line-height: 2em;
}

#acozemna p {
	text-align: center;
	font-size: 18px;
	color: #FFF;
	padding-bottom: 40px;
}

#stopka p {
	text-align: center;
	color: rgba(255,255,255,0.6);
}